
@model IEnumerable<CustomerMgmt.Models.Customer>
@*
    ViewData["Title"] = "Index";
    Layout="~/Views/Shared/_Layout.cshtml";
*@

<h1 align="center">Home Page</h1>

  <a asp-action="Create">Create New Customer</a>

@*For Displaying Customer Info*@
<table align="center" border="1" width=100% height="50px">
    <thead>
        <tr>
            <th border="1px solid black">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th width=5%>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th width=20%>Functions</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var cust in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => cust.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => cust.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => cust.Address)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@cust.Id">Edit</a>
                    <a asp-action="Details" asp-route-id="@cust.Id">Details</a>
                    <a asp-action="Delete" asp-route-id="@cust.Id">Delete</a>
                </td>
            </tr>
        }

    </tbody>
</table>
